.letter-mapping {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.number-to-letter-div {
    border: 1px solid black;
    margin : 10px;
    height : auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}