:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--purple: #8B5CF6;
	--light: #EEE;
    --green: #3bd170;
}

.container {
    min-width : 100vw;
    min-height : 100vh;
    background-color: var(--dark);
}

.letter-mapping-game {
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    display: flex;
    color : var(--darkest);
    min-width : 80%;
    min-height : 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border : 1px solid black;
    border-radius: 10px;
    font-family: 'Century Gothic', sans-serif;
    background-color: var(--darker);
    color : var(--light);
}

.letter-mapping-game .filler {
    border : none;
    height : 0px;
    width: 0px;
    visibility: hidden;
    margin : 0px;
    padding : 0px;
}

.letter-mapping-game .key {
    min-height : 80vh;
    padding : 10px;
    border : none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right : 30px;
    width : 20%;
}

.key div {
    margin-bottom: 10px;
}

.game-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width : 80%;
    font-size: 1.2rem;
    text-shadow: 2px 1px var(--darkest);
}

.game-content #current-char {
    font-size: 4rem;
    color : aquamarine;
    text-shadow: 2px 1px var(--darkest);
}

#buttons {
    display: flex;
}

#buttons button{
    margin : 10px;
    font-weight: bold;
    font-size: larger;
    height : 60px;
    width : 60px;
    border : none;
    border-radius: 10px;
    background-color: var(--darkest);
    color : var(--light);
    transition: 1s;
    font-family: 'Century Gothic', sans-serif;
}

#buttons button:hover {
    width : 42px;
    height : 42px;
    background-color: var(--darkest);
}

.key input[type=checkbox] {
    display:none; 
    margin:10px;
}

.key input[type=checkbox] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    background-color: var(--darkest);
    border-color: var(--light);
    margin : 10px;
    border-radius: 10px;
    color : var(--light);
}

.key input[type=checkbox]:checked + label { 
    background-image: none;
    background-color:var(--green);
}

@media only screen and (max-width : 650px) {
    .letter-mapping-game {
        width : 90%;
    }

    .letter-mapping-game .game-content {
        font-size: .6rem;
        width : 75%;
    }

    .game-content #current-char {
        font-size: 1.6rem;
    }

    .letter-mapping-game .key {
        margin-right : 10px;
        font-size: .6rem;
        width : 25%;
    }

    #buttons button {
        margin : 5px;
        height : 35px;
        width : 35px;
    }
}