:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--purple: #8B5CF6;
	--light: #EEE;
    --green: #3bd170;
}

.letters-key {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.letters-key .div {
    margin : 5px;
    padding : 5px;
    min-width: 90%;
    height : auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;
    background-color: var(--darkest);
    border-radius: 10px;
}

.letters-key hr {
    width : 90%;
    color : black;
    background-color: black;
}

.letters-key .letters {
    margin : 0px;
    padding : 0px;
    display: flex;
    border : none;
}

.div .letter {
    font-weight: normal;
}

.letters-key .letters h1 {
    margin : 0px 10px 0px;
}

.letters-key .numbers {
    margin : 5px;
}