.letters-key {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.letters-key .div {
    margin : 5px;
    padding : 5px;
    min-width: 90%;
    height : auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    border : 1px solid black;
}

.letters-key hr {
    width : 90%;
    color : white;
    background-color: white;
}

.letters-key .letters {
    margin : 0px;
    padding : 0px;
    display: flex;
    border : none;
}

.letters-key .letters h1 {
    margin : 0px 10px 0px;
}

.letters-key .numbers {
    margin : 5px;
}